#login {
  align-items: center;
  margin: auto;
  padding: 50px 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.title{
  color: rgba(114, 127, 243, 0.9);
}
@media screen and (min-width: 720px) {
  #login {
    align-items: center;
    width: 500px;
  }
}
