.profile {
  align-items: center;
  margin: auto;
  padding: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media screen and (min-width: 720px) {
  .profile {
    align-items: center;
    width: 900px;
  }
}
