#hero {
    width: 100%;
    height: 80vh;
    background-image: url("https://images.pexels.com/photos/4386470/pexels-photo-4386470.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4386470.jpg&fm=jpg");
    background-size: cover;
    color: white;
  }