.color-nav {
  background: rgba(114, 127, 243, 0.9);
  display: flex;
  /* justify-content: space-between; */
}
/* .img {
  width: 25px;
} */
.username {
  padding: 3px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}
.toggle {
  display: flex;
  border: transparent;
  background: transparent;
}
.toggle:hover {
  background: transparent;
}
#nav {
  /* display: flex;
  flex-direction: row;
  align-items: flex-end; */
  /* align-items: center; */
  /* align-items: flex-end !important; */
}
#navbar-brand {
  font-weight: bold;
  padding: 4px;
  color: #3333ff;
  background-color: whitesmoke;
  border: solid #3399ff;
  border-radius: 10px;
  text-decoration: none;
}
#navbar-brand:hover {
  color: white;
}

#nav-link {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
#nav-link:hover {
  color: white;
}
.dropdown-menu {
  background-color: rgba(114, 127, 243, 0.9);
  /* margin-right: 50px; */
}

.btn-check:active + .btn-light,
.btn-check:checked + .btn-light,
.btn-light.active,
.btn-light:active,
.show > .btn-light.dropdown-toggle {
  background-color: transparent;
}
.dropdown-toggle::after {
  margin-top: 12px;
}

/* #dropdownMenu{
  background-color: rgba(114, 127, 243, 0.9);
  border-radius: 5px;
} */
@media screen and (min-width: 1013px) {
  #nav {
    /* display: flex;
    flex-wrap: wrap;
    padding-right: 30px; */
  }
}
